/*CONCEPT*/
.conceptart-container{
  margin-top:80px;
  display:grid;
  gap:30px;
  padding:60px;
}

.conceptart-eachpage{
  margin-top:100px;
  gap:30px;
  align-items:center;
  padding:10px;
  background:#dcd6e2;
  border-bottom:1px solid #aaa;
}
