/*STORYBOARD*/

/*STORYBOARD PAGE THUMBNAILS*/
.storyboard_container{
  /*margin-top:100px;*/
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
  /*grid-template-columns:1fr 1fr 1fr;*/
  gap:30px;
  padding:60px;
}

.image-card {
  position: relative; /* 子要素を重ねる基準 */
  width: 300px;
  grid-column:span 2;
  aspect-ratio:1.85/1;
}

.image-card img {
  width: 100%;
  display: block;
}

/* 黒い半透明レイヤー */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.6); /* 半透明黒 */
  
  opacity: 0; /* 初期は非表示 */
  transition: 0.3s ease;
}

/* ホバーで表示 */
.image-card:hover .overlay {
  opacity: 1;
}

/* タイトル（中央配置） */
.title {
  color: #fff;
  font-size: 20px;
  text-align: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* 完全中央 */
}


/*storyboard作品それぞれのページ設定*/
.work_title{
  position:sticky;
  top:130px; /* ヘッダーの高さに合わせる */

  background:#f4ebfd;
  color:#166277;
  font-size:24px;
  font-family:sans-serif;
  font-weight: 300; /*100~900*/ 
  letter-spacing:3px;
  text-align:center;
  z-index:1000;
}

.storyboard_eachpage{
  margin-top:60px;
  gap:30px;
  align-items:center;
}
