/*STORYBOARD*/

.storyboard{
  display:flex;
  flex-direction:column;
  min-height:100vh;
}

.storyboard main{
  flex:1;
}

/*STORYBOARD PAGE THUMBNAILS*/
.storyboard-container{
  margin-top:60px;
  display:grid;
  gap:30px;
  padding:60px;
}

.storyboard-eachpage{
  margin-top:60px;
  gap:30px;
  align-items:center;
}
