/*STORYBOARD*/

/*STORYBOARD PAGE THUMBNAILS*/
.storyboard-container{
  /*margin-top:100px;*/
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
  /*grid-template-columns:1fr 1fr 1fr;*/
  gap:30px;
  padding:60px;
}

.storyboard-eachpage{
  margin-top:60px;
  gap:30px;
  align-items:center;
}
