body{
  margin:0;
  font-family:sans-serif;
  background:#dcd6e2;
}

header{
  position:fixed; /*画面上に固定*/
  top:0;
  width:100 %;
  background:#dcd6e2;
  text-align:center;
  padding:20　px;
  z-index:1000;
}

header h1{
margin:0;
letter-spacing:5 px;
color:#166277;
}

nav ul{
  display:flex;
  list-style:none;
  background:#dcd6e2;
}

nav a{
  text-decoration:none;
  color:#166277;
}

.img {
  width: 20 px; 
  height: auto;  
  margin: 0 out; /*画像を中央配置*/
}
