body{
  background:#dcd6e2;
  font-family:sans-serif;
}

header{
background:#dcd6e2;
color:white;
padding:20 px;
text-align:center;
}

nav ul{
display:flex;
justify-content:center;
list-style:none;
background:#dcd6e2;
}

nav a{
text-decoration:none;
color:#166277;
}

h1{
  color:#166277;
}

.img {
  width: 200 px; 
  height: auto;  
  margin: 0 out; /*画像を中央配置*/
}
